# App
VITE_APP_NAME=VaiComigo
VITE_APP_URL=http://localhost:5173

# Mapas
VITE_GOOGLE_MAPS_KEY=
VITE_MAPBOX_TOKEN=

# Auth
VITE_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Database
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.ntnvgolfzzxuveeaaqev.supabase.co:5432/postgres

# Supabase
VITE_SUPABASE_URL=https://ntnvgolfzzxuveeaaqev.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50bnZnb2xmenp4dXZlZWFhcWV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkyODQzMTYsImV4cCI6MjA4NDg2MDMxNn0.PVKRsFykOxO8ZPh0i6Tq0qh3zwfPTSKst1wclB5JwFE

# Payments
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
MERCADOPAGO_ACCESS_TOKEN=